html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  font-family: roboto;
  z-index: -2;
  overflow-x: hidden;
  width: 100%;
  color: #EEE;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: Montserrat;
}

body a, body a i {
  color: #EEE;
  text-decoration: none;
}

body a:hover, body a i:hover {
  color: #999 !important;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-button {
  height: 0px;
  width: 0px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border: thin solid #808080;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
  border: thin solid #666;
}

header {
  width: 100vw;
  height: 100vh;
  position: relative;
}

header #particles-js {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #1F1F1F;
}

header #overlay {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: grid;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #overlay section {
  display: grid;
  grid-template-rows: auto auto;
}

header #overlay section img {
  width: 125px;
  height: 125px;
  margin: 0 auto;
}

header #overlay section h1 {
  text-align: center;
  color: #EEE;
  margin: 40px 0;
}

nav {
  display: grid;
  position: fixed;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 0 5px;
  text-align: center;
  font-weight: bold;
  font-family: Montserrat;
  font-size: small;
  color: #EEE;
}

nav ul li a, nav ul li i {
  vertical-align: middle;
}

nav.fixed {
  background-color: #2F2F2F;
}

nav.fixed ul li a, nav.fixed ul li i {
  color: #EEE;
}

#MobileNav {
  display: none;
}

#DesktopNav {
  width: 100vw;
  height: 50px;
  z-index: 5;
  grid-template-columns: auto auto;
}

#DesktopNav ul {
  height: 50px;
  margin: 0 0 0 10px;
}

#DesktopNav ul li {
  height: 50px;
  line-height: 50px;
}

#DesktopNav #menubutton {
  display: none;
}

#DesktopNav .links {
  display: inline-block;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#DesktopNav .links .NavBarSpacer {
  color: #999;
}

#DesktopNav #social {
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
  grid-column-start: 2;
  margin: 0 10px 0 0;
}

#DesktopNav #social li {
  float: right;
  font-weight: initial;
}

#content {
  position: relative;
  background-color: #2F2F2F;
}

#content #Wrapper {
  position: relative;
  top: 0;
  width: 100vw;
  z-index: 4;
  margin-top: 0;
}

#content #Wrapper .WrapperContent {
  width: 100%;
  min-height: 100vh;
  background-color: #2F2F2F;
}

#content #Wrapper .WrapperContent .Spacer {
  height: 50px;
  width: 100%;
}

#content #Wrapper .WrapperContent section {
  width: 80%;
  display: grid;
  margin: 0 auto;
}

#content #Wrapper .WrapperContent #Contact {
  grid-template-areas: 'Head Head Head' 'MSG MSG MSG' 'C_Form Bar Social';
  grid-gap: 10px;
  grid-template-columns: -webkit-calc((80vw - 20px) / 2) 1px -webkit-calc((80vw - 20px) / 2);
  grid-template-columns: calc((80vw - 20px) / 2) 1px calc((80vw - 20px) / 2);
  min-height: -webkit-calc(100vh - 50px - 200px);
  min-height: calc(100vh - 50px - 200px);
  padding: 50px 20px;
}

#content #Wrapper .WrapperContent #Contact #C_Head {
  grid-area: Head;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

#content #Wrapper .WrapperContent #Contact #C_Head p {
  opacity: 0.5;
}

#content #Wrapper .WrapperContent #Contact form {
  grid-area: C_Form;
  grid-template-rows: 50px 50px 50px 100px 50px;
  display: grid;
  grid-row-gap: 10px;
  padding: 50px;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

#content #Wrapper .WrapperContent #Contact form input, #content #Wrapper .WrapperContent #Contact form textarea, #content #Wrapper .WrapperContent #Contact form button {
  width: 90%;
  margin: 0 auto;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: 1px solid #CCC;
  padding: 5px;
  background-color: #3F3F3F;
  color: #EEE;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#content #Wrapper .WrapperContent #Contact form input:hover, #content #Wrapper .WrapperContent #Contact form textarea:hover, #content #Wrapper .WrapperContent #Contact form button:hover {
  background-color: #5F5F5F;
}

#content #Wrapper .WrapperContent #Contact .Bar, #content #Wrapper .WrapperContent #Contact .SocialBar {
  grid-area: Bar;
  width: 1px;
  height: 100%;
  background-color: #EEE;
}

#content #Wrapper .WrapperContent #Contact #ContactSocial {
  grid-area: Social;
  display: grid;
  padding: 50px;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  grid-template-columns: 40px 1px auto;
  grid-template-areas: 'Icons SocialBar Links';
  grid-column-gap: 15px;
}

#content #Wrapper .WrapperContent #Contact #ContactSocial ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: grid;
  grid-auto-rows: 40px;
}

#content #Wrapper .WrapperContent #Contact #ContactSocial ul li a {
  width: 100%;
  vertical-align: middle;
  line-height: 40px;
}

#content #Wrapper .WrapperContent #Contact #ContactSocial ul li a i {
  width: 100%;
  vertical-align: middle;
  line-height: 40px;
}

#content #Wrapper .WrapperContent #Contact #ContactSocial ul:nth-child(1) {
  grid-area: Icons;
  text-align: center;
}

#content #Wrapper .WrapperContent #Contact #ContactSocial ul:nth-child(3) {
  grid-area: Links;
}

#content #Wrapper .WrapperContent #Contact #ContactSocial .SocialBar {
  grid-area: SocialBar;
}

.WrapperContent, #content {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
}

#HomePage #Wrapper {
  margin-top: -50px;
}

#HomePage #Wrapper #DownArrowContainer {
  width: 100%;
  height: 50px;
  margin: 0;
  text-align: center;
  color: #EEE;
}

footer {
  min-height: 100px;
  background-color: #1F1F1F;
  width: 100%;
  display: grid;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.bounce {
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

@media only screen and (max-width: 768px) {
  #MobileNav {
    display: grid;
    z-index: -1;
    position: fixed;
    width: 80vw;
    height: 100%;
    background-color: #2F2F2F;
  }
  #MobileNav .links {
    margin: 0;
  }
  #MobileNav .links .NavBarSpacer {
    display: none;
  }
  #MobileNav .links li {
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    height: 60px;
    line-height: 60px;
  }
  #MobileNav .links li a {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  #DesktopNav #menubutton {
    display: inline-block;
  }
  #DesktopNav .links {
    display: none;
  }
  nav.fixed .links li a {
    color: #EEE;
  }
  #content #Wrapper .WrapperContent #Contact {
    width: initial;
    grid-template-areas: 'Head' 'MSG' 'C_Form' 'Bar' 'Social';
    grid-template-columns: none;
    grid-row-gap: 30px;
  }
  #content #Wrapper .WrapperContent #Contact form {
    padding: 0;
  }
  #content #Wrapper .WrapperContent #Contact .Bar {
    width: 100%;
    height: 1px;
  }
  #content #Wrapper .WrapperContent #Contact #ContactSocial {
    padding: initial;
  }
}
/*# sourceMappingURL=Main.css.map */