@keyframes bounce 
    0%, 20%, 50%, 80%, 100%
        transform: translateY(0)

    40%
        transform: translateY(-20px)

    60%
        transform: translateY(-10px)


.bounce
    animation: bounce 2s infinite

@keyframes MenuOpen
    from
        left: 0
    to
        left: 80vw

.MenuOpen
    animation: MenuOpen 0.8s 1