footer
    background-color: $HeaderBackColour
    width: 100%
    display: grid
    grid-template-areas: 'Copy'
    padding: 10px
    #Copyright
        grid-area: Copy
        font-size: small
        margin: 5px 0