header
    width: 100vw
    height: 100vh
    position: relative
    #particles-js
        z-index: 2
        width: 100vw
        height: 100vh
        position: fixed
        background-color: $HeaderBackColour
    #overlay
        z-index: 3
        width: 100vw
        height: 100vh
        position: fixed
        display: grid
        align-content: center
        justify-content: center
        section
            display: grid
            grid-template-rows: auto auto
            img
                width: $LogoSize
                height: $LogoSize
                margin: 0 auto
            h1
                text-align: center
                color: #EEE
                margin: 40px 0