#content
    #Wrapper
        .WrapperContent
            #Contact
                grid-template-areas: 'C_Form' 'Bar' 'Social'
                grid-template-columns: none
                form
                    padding: 0
                .Bar
                    width: 100%
                    height: 1px