#content
    #Wrapper
        .WrapperContent
            #Contact
                grid-template-areas: 'C_Form' 'Bar' 'Social'
                grid-template-columns: none
                form
                    padding: 0