#content
    #Wrapper
        .WrapperContent
            #Contact
                width: initial
                grid-template-areas: 'Head' 'C_Form' 'Bar' 'Social'
                grid-template-columns: none
                grid-row-gap: 30px
                form
                    padding: 0
                .Bar
                    width: 100%
                    height: 1px
                #ContactSocial
                    padding: initial
