nav
    display: grid
    position: fixed
    ul
        padding: 0
        list-style: none
        li
            display: inline-block
            padding: 0 5px
            text-align: center
            font-weight: bold
            font-family: Montserrat
            font-size: small
            color: $TextColor
            a, i
                vertical-align: middle
nav.fixed
    background-color: $BackgroundColour
    ul li
        a, i
            color: $WhiteBGTextColour
#MobileNav
    display: none
#DesktopNav
    width: 100vw
    height: $NavBarHeight
    z-index: 5
    grid-template-columns: auto auto
    ul
        height: $NavBarHeight
        margin: 0 0 0 10px
        li
            height: $NavBarHeight
            line-height: $NavBarHeight
    #menubutton
        display: none
    .links
        display: inline-block
        justify-content: start
        .NavBarSpacer
            color: $LinkHoverColour
    #social
        justify-content: end
        grid-column-start: 2
        margin: 0 10px 0 0
        li
            float: right
            font-weight: initial