$DefaultHeaderFont: Montserrat, Arial
$DefaultTextFont: Roboto, Arial
$LogoSize: 125px
$NavBarHeight: 50px
$HeaderBackColour: #1F1F1F
$BackgroundColour: #2F2F2F //#2F2F2F - #FFF
$TextColor: #EEE
$WhiteBGTextColour: #EEE //#EEE - #2F2F2F
$MobileNavBackColour: #2F2F2F
$LinkHoverColour: #999
$BoxShadowColour: rgba(0, 0, 0, 0.8)
$InputBorderColour: #4F4F4F
$InputBGColour: #3F3F3F //#EEE - #3F3F3F
$InputBGHoverColour: #5F5F5F //#DDD - #5F5F5F
$InputFocusOutline: #AAA
