$LogoSize: 125px
$NavBarHeight: 50px
$HeaderBackColour: #1F1F1F
$BackgroundColour: #2F2F2F //#FFF
$TextColor: #EEE
$WhiteBGTextColour: #EEE //2F2F2F
$MobileNavBackColour: #2F2F2F
$LinkHoverColour: #999
$BoxShadowColour: rgba(0, 0, 0, 0.8)
$InputBorderColour: #CCC
$InputBGColour: #EEE
$InputBGHoverColour: #DDD