#content
    position: relative
    background-color: $BackgroundColour
    #Wrapper
        position: relative
        top: 0
        width: 100vw
        z-index: 4
        margin-top: 0
        .WrapperContent
            width: 100%
            min-height: 100vh
            background-color: $BackgroundColour
            .Spacer
                height: $NavBarHeight
                width: 100%
            section
                width: 80%
                display: grid
                margin: 0 auto
            #Contact
                grid-template-areas: 'Head Head Head' 'C_Form Bar Social'
                grid-gap: 10px
                grid-template-columns: calc((80vw - 20px) / 2) 1px calc((80vw - 20px) / 2)
                min-height: calc(100vh - 50px - 146px)
                padding: 50px 20px
                #C_Head
                    grid-area: Head
                    text-align: center
                    display: grid
                    grid-template-rows: auto auto
                    align-content: center
                    p
                        opacity: 0.5
                form
                    grid-area: C_Form
                    grid-template-rows: 50px 50px 50px 100px 50px
                    display: grid
                    grid-row-gap: 10px
                    padding: 50px
                    align-content: center
                    input, textarea, button
                        width: 90%
                        margin: 0 auto
                        border-radius: 6px
                        border: 1px solid $InputBorderColour
                        padding: 10px
                        background-color: $InputBGColour
                        color: $WhiteBGTextColour
                        box-sizing: content-box
                    input:hover, textarea:hover, button:hover
                        background-color: $InputBGHoverColour
                    input:focus, textarea:focus, button:focus
                        box-shadow: 0 0 0 1px $InputFocusOutline
                        outline: none
                .Bar
                    grid-area: Bar
                    width: 1px
                    height: 100%
                    background-color: $WhiteBGTextColour
                    opacity: 0.2
                #ContactSocial
                    grid-area: Social
                    display: grid
                    padding: 50px
                    align-content: center
                    grid-template-columns: 40px 1px auto
                    grid-template-areas: 'Icons Links'
                    grid-column-gap: 15px
                    ul
                        list-style: none
                        padding: 0
                        margin: 20px 0
                        display: grid
                        grid-auto-rows: 40px
                        li
                            a
                                width: 100%
                                vertical-align: middle
                                line-height: 40px
                                i
                                    width: 100%
                                    vertical-align: middle
                                    line-height: 40px
                    ul:nth-child(1)
                        grid-area: Icons
                        text-align: center
                    ul:nth-child(3)
                        grid-area: Links
.WrapperContent, #content
    box-shadow: 0 0 20px 0 $BoxShadowColour

#HomePage #Wrapper
    margin-top: -50px
    #DownArrowContainer
        width: 100%
        height: 50px
        margin: 0
        text-align: center
        color: $TextColor