#content
    position: relative
    background-color: $BackgroundColour
    #Wrapper
        position: relative
        top: 0
        width: 100vw
        z-index: 4
        margin-top: 0
        .WrapperContent
            width: 100%
            min-height: 100vh
            background-color: $BackgroundColour
            .Spacer
                height: $NavBarHeight
                width: 100%
            section
                width: 80%
                display: grid
                margin: 0 auto
            #Contact
                grid-template-areas: 'C_Form Bar Social'
                grid-gap: 10px
                form
                    grid-area: 'C_Form'
                #Bar
                    grid-area: 'Bar'
                    width: 1px
                    height: 100%
                    background-color: $WhiteBGTextColour
                #ContactSocial
                    grid-area: 'Social'
.WrapperContent, #content
    box-shadow: 0 0 20px 0 $BoxShadowColour

#HomePage #Wrapper
    margin-top: -50px
    #DownArrowContainer
        width: 100%
        height: 50px
        margin: 0
        text-align: center
        color: $TextColor