@import '_Vars.sass'

html
    overflow-x: hidden

body
    margin: 0
    padding: 0
    position: absolute
    font-family: roboto
    z-index: -2
    overflow: hidden
    width: 100%
    color: $WhiteBGTextColour
    h1, h2, h3, h4, h5, h6
        font-family: Montserrat
    a, a i
        color: $TextColor
        text-decoration: none
    a:hover, a i:hover
        color: $LinkHoverColour !important

@import '_Scrollbar.sass'
@import '_Header.sass'
@import '_Nav.sass'
@import '_Wrapper.sass'
@import '_Footer.sass'
@import '_Animations.sass'
@import '_MediaQuery.sass'