@import '_Vars.sass'

body
    margin: 0
    padding: 0
    position: absolute
    font-family: roboto
    overflow-x: hidden
    width: 100%
    h1, h2, h3, h4, h5, h6
        font-family: Montserrat
    a, a i
        color: $TextColor
        text-decoration: none
    a:hover, a i:hover
        color: $LinkHoverColour


#content
    position: absolute

@import '_Scrollbar.sass'
@import '_Header.sass'
@import '_Nav.sass'
@import '_Wrapper.sass'
@import '_Footer.sass'
@import '_Animations.sass'