@import '_Vars.sass'
nav
    background-color: #FFF
    ul
        li
            a
                color: #2F2F2F
    ul#links
        overflow-x: auto
        overflow-y: hidden
        display: flex
        margin: 0 10px