@import '_Vars.sass'
nav
    background-color: $BackgroundColour
    #menubutton
        display: none !important
    ul
        li
            a, i
                color: $WhiteBGTextColour !important
                white-space: nowrap !important
    .links
        overflow-x: auto !important
        overflow-y: hidden !important
        display: flex !important
        margin: 0 10px !important
        position: initial !important
        width: initial !important
        height: initial !important
        left: initial !important
        background-color: initial !important
        .NavBarSpacer
            display: initial !important