@import '_Vars.sass'
nav
    background-color: #FFF
    #menubutton
        display: none !important
    .links
        position: initial !important
        width: initial !important
        height: initial !important
        left: initial !important
        background-color: initial !important
        .NavBarSpacer
            display: initial !important
    ul
        li
            a
                color: #2F2F2F !important
                white-space: nowrap !important
    ul#links
        overflow-x: auto !important
        overflow-y: hidden !important
        display: flex !important
        margin: 0 10px !important