#Contact
    grid-template-areas: 'Head Head Head' 'C_Form Bar Social'
    grid-gap: 10px
    grid-template-columns: calc((80vw - 20px) / 2) 1px calc((80vw - 20px) / 2)
    min-height: calc(100vh - 50px - 146px)
    padding: 50px 20px
    #C_Head
        grid-area: Head
        text-align: center
        display: grid
        grid-template-rows: auto auto
        align-content: center
        p
            opacity: 0.5
    form
        grid-area: C_Form
        grid-template-rows: 50px 50px 50px 100px 50px
        display: grid
        grid-row-gap: 10px
        padding: 50px
        align-content: center
        input, textarea, button
            width: 90%
            margin: 0 auto
            border-radius: 6px
            border: 1px solid $InputBorderColour
            padding: 10px
            background-color: $InputBGColour
            color: $WhiteBGTextColour
            height: 28px
            box-sizing: content-box
            font-family: $DefaultTextFont
            font-size: small
        textarea
            height: 78px
        button
            font-size: medium
        input:hover, textarea:hover, button:hover
            background-color: $InputBGHoverColour
        input:focus, textarea:focus, button:focus
            box-shadow: 0 0 0 1px $InputFocusOutline
            outline: none
        p
            width: 92.5%
            margin: 0 auto
            vertical-align: middle
            font-size: small
    .Bar
        grid-area: Bar
        width: 1px
        height: 100%
        background-color: $WhiteBGTextColour
        opacity: 0.2
    #ContactSocial
        grid-area: Social
        display: grid
        padding: 50px
        align-content: center
        grid-template-columns: 40px 1px auto
        grid-template-areas: 'Icons Links'
        grid-column-gap: 15px
        ul
            list-style: none
            padding: 0
            margin: 20px 0
            display: grid
            grid-auto-rows: 40px
            li
                a
                    width: 100%
                    vertical-align: middle
                    line-height: 40px
                    i
                        width: 100%
                        vertical-align: middle
                        line-height: 40px
        ul:nth-child(1)
            grid-area: Icons
            text-align: center
        ul:nth-child(3)
            grid-area: Links